# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
utils/__pycache__/

# macOS system files
.DS_Store

# Swift files
libexecutor.dylib

# seleniumbase
downloaded_files/
venv/